.atp{
    background-color: $color2;
    width: 70%;
    padding: 20px;
    margin: 10px;
    text-align: justify;
    .menu{
        
      background: rgb(195,139,34);
      background: linear-gradient(0deg, rgba(195,139,34,1) 0%, rgba(252,229,179,1) 100%);
        width: auto;
        h3{
           font-size: $tamanioSubTitulo;
        }
        .ingred{
          display: flex;
       }
       p{
        font-size: $tamanioTexto;
        }
    }
   }
