.recetasSaladas{
    background-color: $color2;
    width: 90%;
    padding: 20px;
    margin: 10px;
    text-align: justify;
    
    .menu{
      background: rgb(195,139,34);
background: linear-gradient(0deg, rgba(195,139,34,1) 0%, rgba(252,229,179,1) 100%);
      width: auto;
      h3{
         font-size: $tamanioSubTitulo;
      }
      .ingred{
        display: flex;
      }
     p{
      font-size: $tamanioTexto;
      }
   }
};
@media (max-width: 768px){
  .ingred{
    display: flex;
    flex-direction: column;
  }
  .img{
    width: 50%;
  }
}
.prep{
  font-size: 20px;
  padding: 10px;
  

}