.tarjetaTrucos{
    width: 80%;
    padding: 20px;
    margin: 15px;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 5px;
    font-size: $tamanioTexto;
    text-align: justify;
    
    h2{
      font-size: $tamanioSubTitulo;
    }
 }
 
 .tarjetaViandas{   
    background-color: white;
    width: auto;
    padding: 20px;
    margin: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: $tamanioTexto;
    text-align: justify;
    h2{
      font-size: $tamanioSubTitulo;
    }
 }
 @media (max-width: 768px) {
  .tarjetaTrucos{
    font-size: 14px;
  }
}
