.tarjetaTrucos{
    background-color: white;
    width: 60%;
    padding: 20px;
    margin: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
  
 }
 
 .tarjetaViandas{   
    background-color: white;
    width: 60%;
    padding: 20px;
    margin: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
 }