.titulo {
    margin: 0px;
    color: $color3;
    /*
    background-image: linear-gradient(to right, rgb(173, 204, 223), rgb(57, 154, 211));*/
    background-color: $color2;
    padding: 50px;
    text-align: center;
    font-size: 80px;
    font-style: oblique;
    font-family: Indie Flower;
 }