
$tamanioSubTitulo: 36px;
$tamanioTexto: 20px;
$color1: #2a0308 ;
$color2: #924f1b ;
$color3: #cc9831 ;
$color4: #f8ebbe ;
$color5: #7ba58d ;
$color6: #bd733a ;

$colores:(
    primario: $color1,
    secundario: $color2,
    terciario: $color3,
);

$btn:(
    padding: 5px 30px,
    radio: 5px,
    color: $color3,
    
);