
@import "variables";
@import "titulo";
@import "navbar";
@import "footer";
@import "tarjetasInicio";
@import "recetasSaladas";
@import "platosDulces";
@import "formularios";


@mixin propiedades($ancho, $alto,$colorLetra) {
    width: $ancho;
    height: $alto;
    color: $colorLetra;
}