.btn:hover, .btn2:hover {
  color: #2a0308;
  background-color: #924f1b;
  border-color: #2a0308;
}

.btn-primary {
  border-color: #2a0308;
  margin-bottom: 10px;
}

.titulo {
  margin: 0px;
  color: #cc9831;
  background-image: linear-gradient(to right, #f8ebbe, #cc9831);
  background-color: #924f1b;
  padding: 50px;
  text-align: center;
  font-size: 80px;
  font-style: oblique;
  font-family: Indie Flower;
  animation-name: aparecer;
  animation-duration: 3s;
}

@media (max-width: 768px) {
  .titulo {
    padding: 10px;
    font-size: 40px;
  }
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.navbar-expand-lg {
  padding-top: 0px;
  padding-bottom: 0px;
}
.navbar-expand-lg .container-fluid {
  background-color: #bd733a;
  padding: 20px;
}
.navbar-expand-lg ul li a {
  color: #f8ebbe;
}

.navbar-nav .nav-link.active {
  color: #924f1b;
}

.navbar-toggler {
  color: #924f1b;
}

.dropdown-menu {
  --bs-dropdown-bg: #bd733a ;
}

.pie {
  background-color: #f8ebbe;
  font-size: 16px;
  padding: 0px;
  text-align: center;
}

.redes img {
  width: 32px;
}

.copi {
  font-size: 12px;
}

.tarjetaTrucos {
  width: auto;
  padding: 20px;
  margin: 15px;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 5px;
  font-size: 20px;
  text-align: justify;
  display: flex;
}
.tarjetaTrucos h2 {
  font-size: 36px;
}

.tarjetaViandas {
  background-color: white;
  width: auto;
  padding: 20px;
  margin: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 20px;
  text-align: justify;
}
.tarjetaViandas h2 {
  font-size: 36px;
}

@media (max-width: 768px) {
  .tarjetaTrucos {
    font-size: 14px;
  }
}
.lista {
  text-decoration: none;
  list-style: none;
  width: 80%;
  padding: 20px;
}
.lista .accordion-button {
  background-color: #f8ebbe;
  color: black;
  box-shadow: none;
}

@media only screen and (max-width: 368px) {
  .titulo {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .carrusel {
    display: none;
  }
}
.carrusel {
  width: 50%;
  margin-top: 70px;
}

.rapiditas {
  display: flex;
}

@media (max-width: 768px) {
  .rapiditas {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.recetasSaladas {
  background-color: #924f1b;
  width: 90%;
  padding: 20px;
  margin: 10px;
  text-align: justify;
}
.recetasSaladas .menu {
  background: rgb(195, 139, 34);
  background: linear-gradient(0deg, rgb(195, 139, 34) 0%, rgb(252, 229, 179) 100%);
  width: auto;
}
.recetasSaladas .menu h3 {
  font-size: 36px;
}
.recetasSaladas .menu .ingred {
  display: flex;
}
.recetasSaladas .menu p {
  font-size: 20px;
}

@media (max-width: 768px) {
  .ingred {
    display: flex;
    flex-direction: column;
  }
  .img {
    width: 50%;
  }
}
.prep {
  font-size: 20px;
  padding: 10px;
}

.recetasDulces {
  background-color: #924f1b;
  width: 90%;
  padding: 20px;
  margin: 10px;
  text-align: justify;
}
.recetasDulces .menu {
  background: rgb(195, 139, 34);
  background: linear-gradient(0deg, rgb(195, 139, 34) 0%, rgb(252, 229, 179) 100%);
  width: auto;
}
.recetasDulces .menu h3 {
  font-size: 36px;
}
.recetasDulces .menu .ingred {
  display: flex;
}
.recetasDulces .menu p {
  font-size: 20px;
}

.btn, .btn2 {
  padding: 5px 30px;
  border-radius: 5px;
  background-color: #cc9831;
}

.btn2 {
  background-color: #cc9831;
}

.comentario {
  margin: 15px;
  background: rgb(147, 96, 2);
  background: linear-gradient(0deg, rgb(147, 96, 2) 0%, rgb(195, 139, 34) 100%);
  padding: 10px;
  width: auto;
}
.comentario .name {
  margin: 5px;
  padding: 5px;
  width: 285px;
  border-radius: 10px;
  background-color: #f8ebbe;
}
.comentario .mail {
  margin: 5px;
  padding: 5px;
  width: 300px;
  border-radius: 10px;
  background-color: #f8ebbe;
}
.comentario .comen {
  margin: 5px;
  padding: 5px;
  width: 95%;
  border-radius: 10px;
  background-color: #f8ebbe;
}

@media (max-width: 768px) {
  .comentario {
    width: 400px;
  }
  .comentario .name {
    width: 250px;
  }
  .comentario .mail {
    width: 265px;
  }
  .comentario .comen {
    width: 350px;
  }
}
.atp {
  background-color: #924f1b;
  width: 70%;
  padding: 20px;
  margin: 10px;
  text-align: justify;
}
.atp .menu {
  background: rgb(195, 139, 34);
  background: linear-gradient(0deg, rgb(195, 139, 34) 0%, rgb(252, 229, 179) 100%);
  width: auto;
}
.atp .menu h3 {
  font-size: 36px;
}
.atp .menu .ingred {
  display: flex;
}
.atp .menu p {
  font-size: 20px;
}