.titulo {
  margin: 0px;
  color: #e2ac3f;
  /*
  background-image: linear-gradient(to right, rgb(173, 204, 223), rgb(57, 154, 211));*/
  background-color: #924f1b;
  padding: 50px;
  text-align: center;
  font-size: 80px;
  font-style: oblique;
  font-family: Indie Flower;
}

.navbar-expand-lg {
  padding-top: 0px;
  padding-bottom: 0px;
}
.navbar-expand-lg .container-fluid {
  background-color: #f8ebbe;
}

.pie {
  background-color: #924f1b;
  font-size: 16px;
  padding: 0px;
  text-align: center;
}

.redes img {
  width: 32px;
}

.tarjetaTrucos {
  background-color: white;
  width: 60%;
  padding: 20px;
  margin: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.tarjetaViandas {
  background-color: white;
  width: 60%;
  padding: 20px;
  margin: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.recetasSaladas {
  background-color: aqua;
  width: 90%;
  padding: 20px;
  margin: 10px;
}

.menu {
  background-color: brown;
}

.ingred {
  display: flex;
}