@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";
}
.principal{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    padding: 5px;
    justify-content: center;
}
.titulo {
    margin: 0px;
    color: rgb(198, 220, 228);
    background-image: linear-gradient(to right, rgb(173, 204, 223), rgb(57, 154, 211));
    padding: 50px;
    text-align: center;
    font-size: 80px;
    font-style: oblique;
    font-family: Indie Flower; 
}
.tarjetaTrucos{
    background-color: rgb(242, 209, 209);
    width: 40%;
    padding: 20px;
    margin: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.tarjetaMenu{
    background-color: rgb(242, 209, 209);
    width: 75%;
    padding: 20px;
    margin: 5px;
    margin-bottom: 15px;
    border-radius: 5px; 
}
.tarjetaViandas{
    background-color:rgb(242, 209, 209);
    width: 40%;
    padding: 20px;
    margin: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.tarjetaTrucos h2{
    color:rgb(239, 159, 159);
    text-align: center;
    font-size: 42px;
}
.tarjetaTrucos img{
    width: 100%;
}
.tarjetaMenu h2{
    color: rgb(239, 159, 159);
    text-align: center;
    font-size: 42px;
}
.tarjetaMenu img{
    width: 50%;
}
.img{
    text-align: center;
}
.tablacontenedor{
    overflow-x: auto;
}
.tarjetaViandas h2{
    color: rgb(239, 159, 159);
    text-align: center;
    font-size: 42px;
}
.tarjetaViandas img{
    width: 100%;
}
.fotosViandas {
    display: flex;
    margin: 15px;
    padding: 3px;
    width: 500px;
}
.foto1{
    margin: 10px;
    width: 50%;
    transition: all 1s;
}
.foto1:hover{
    transform: translate(20px,  50px);
}
.tarjeta ul li {
    list-style: none;
    background-image: url("../img/check.png");
    background-position: 0;
    background-size: 28px;
    background-repeat: no-repeat;
    padding-left: 40px;
    font-size: 24px;
}
.tarjeta ul {
    margin: 20px;
    list-style:circle
}
.tarjeta ul p{
    color: rgb(48, 0, 48);
}
.tarjeta h3{
    color: rgb(0, 255, 171); 
}

.tabla{
    margin: auto;
    background-color:rgb(226, 193, 110);
    border-collapse: collapse;
}
.tabla td{
    border-style: solid;
    padding: 8px;
    height: 70px;
}
.tabla th{
    border-style: solid;
    padding: 8px;
    width: 500px;
}
.tablaHorizontal{
    background-color:darkgoldenrod;
}
.tablaHorizontal th{
    font-size: 30px;
}
.tablaVertical1{
    font-size: 30px;
    background-color: darkgoldenrod;
}
.tarjeta2{
    background-color: rgb(239, 159, 159);
    padding: 20px;
}
.tarjeta2 h3{
    color: rgb(242, 209, 209);
    font-size: 32px;
}
.tarjeta2 a{
    font-size: 24px;
}
.tarjeta ul li{
    font-weight: bold;
}
.pie{
    background-color: rgb(218, 234, 241);
    font-size: 16px;
    padding: 0px;
    text-align: center;
}
.pie h5{
    height: 100px;
    padding-top: 50px;
}
.redes img{
    width: 32px;
}
.tarjeta2 a{
    text-decoration: none;
}
.recetasSaladas{
    background-color: rgb(125, 211, 185);
    width: 75%;
    padding: 20px;
    text-align: justify;
    margin: 10px;
    border-radius: 15px;
}
.recetasSaladas h3{
    font-size: 24px;  
}

.recetasSaladas img{
    width: 100%;
}
.recetasSaladas p{
    width: 100%;
}
.recetasDulces{ 
    background-color:rgb(125, 211, 185);
    width: 75%;
    padding: 20px;
    text-align: justify;
    margin: 10px;
    border-radius: 15px;
}
.recetasDulces h3{
    font-size: 24px;  
}

.recetasDulces img{
    width: 100%;
}
.recetasDulces p{
    width: 100%;
}
.atp{
    background-color:rgb(125, 211, 185);
    width: 75%;
    padding: 20px;
    text-align: justify;
    margin: 10px;
    border-radius: 15px;
}
.atp h3{
    font-size: 24px;  
}
.atp h2{
    font-size: 36px;  
}
.atp img{
    width: 75%;
}
.atp p{
    width: 75%;
    padding-bottom: 30px;
}
.comentarios{
    width: 45%;
    margin: auto;
   background-color:rgb(255, 230, 230);
   padding: 10px 20px;
   box-sizing:  border-box;
   border-radius: 15px;
   margin-bottom: 30px;
   font-size: 20px;
}
.recetas{
    width: 45%;
    margin: auto;
   background-color:rgb(255, 230, 230);
   padding: 10px 20px;
   box-sizing:  border-box;
   border-radius: 15px;
   margin-bottom: 30px;
   font-size: 20px;
}
.formularios{
    display: flex;
    width: 100%;
    margin: 10px;
}
@media (max-width: 768px){
    .titulo{
        padding: 10px;
        font-size: 50px;
    } 
    .navbar ul li {
        font-size: 18px;
    }
    .principal{
        display: block; 
    }
    .tarjetaTrucos{
        width: 100%;
    }
    .tarjetaViandas{
        width: 100%;
    }
    .tarjetaMenu{
        width: 100%;
    }
    .formularios{
        display: block;
        width: 100%;
    }
    .foto1{
        width: 50%;
    }
}
